@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.all-color{
  
    
    background: rgb(0,0,0);
    max-width:1440px;
    margin: 0 auto;

    
}
.primary-width{
    max-width:1060px;
    margin: 0 auto;
    
}
.nav-colors{

    background: linear-gradient(#000000,#434343,#000000);
}
.nav-width{
    max-width:1060px;
    margin: 0 auto;
}
.tag-style{

    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;

}

.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 50px;

}
.btn-primary span{
    border: none;
    margin:30px 20px ;
    color: rgb(255, 255, 255);   
}
.btn-primary{
      
      border: 1px solid rgba(255, 255, 255, 0.1);
       border-radius: 39px;
       padding: 10px 0px;
       font-size: 1rem;
       font-weight: 400px;    
}
#homes-color{
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    padding: 5px 10px;
    margin-left:2px;

}

.banner-main{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text{
    width: 55%;
    /* border: 1px solid gold; */
   
}
.banner-text h1{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 5rem;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
}
.btn-all{
    border-radius: 35px;
background: rgb(230, 83, 60);
padding: 10px 30px;
 border: none;
color: white;
/* font-weight: 400px; */
font-size: 1.2rem;
}
.btn-span{
  color: white; 
  padding: 10px 25px; 
  
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-humburger-menu{
  color: white;
  display: none;
}
.banner-pic{
    width: 37%;
    /* border: 1px solid red; */
    position: relative;
}
.banner-pic img{
    width: 100%;
}
.styles{
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-size: 5rem;
}
.child-div{
    display: flex;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px 40px;
    width: max-content;
    position: absolute;
    top: 70%;
    right: 75%;
    
}
.child-text{
    margin-left: 10px;
    color:rgba(239, 237, 232, 0.65);
    font-size: 1rem;
}
.child-span{
    font-weight: 900;
    font-size: 1.7rem;
    color:rgb(250, 250, 249) ;
}
.child-font{
    color:  rgb(230, 83, 60);
    font-size: 3rem;   
}
.child-text-two{
    font-size: 0.9rem;
    color:rgba(239, 237, 232, 0.65);
}
.child-span-two{
    font-weight: 900;
    font-size: 2.5rem;
    color:rgb(250, 250, 249) ;
}
.child-div-two{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 25px 35px;
    width: max-content;
    position: absolute;
    top: 22%;
    right:-25%;
}
.play-btn{
    color: white;
    position: absolute;
    top: 50%;
    left: -17%;
}
/* card-section */
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.all-bold{
  font-weight: 900;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.all-semi-bold{
    font-weight: 400;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}
.h3-style{
    font-weight: 600;
    font-size:1rem; 
    color: rgb(255, 255, 255);
    margin-bottom:10px ;
}
.card-design{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}
.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     text-align: center;
}
.card img{
    border-radius: 100px;
    margin-bottom: 30px;
}
/* run section */
.run-main{
    margin-top: 50px;
    border-radius: 18px;
background: rgb(34, 34, 34);
/* height: 600px; */
display: flex;
justify-content: space-between;
padding: 20px;
}
.run-text{
    width: 50%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;

}
.run-btn{
    width: 30%;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px;
    color: white;
}
.run-pic{
    width: 40%;
    /* border: 1px solid red; */
}
.run-pic img{
    width: 100%;
    border-radius: 15px;
    object-fit:none;
    object-position: 66% 30%;

}
/* training-section */
.training-text-contain{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 50px;

}

.pic{
    position: relative;
}
.pic1-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(6, 255, 210, 0.6);
    opacity: 0.5;
    transition: opacity 0.3s;   
}
.pic1-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-top: 80%;
}
.pic2-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 0,0, 0.6);
    opacity: 0.5;
    transition: opacity 0.3s;  
}
.pic2-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    margin-left: 5%;
    margin-top: 5%;
}
.pic3-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0, 0.7);
    opacity: 0.5;
    transition: opacity 0.3s;  
}
.pic3-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    margin-left: 10%;
    margin-top: 60%;
}
.pic4-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.7);
    opacity: 0.5;
    transition: opacity 0.3s;  
}
.pic4-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    margin-left: 60%;
    margin-top: 5%;
}
.pic5-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55,255,0, 0.5);
    opacity: 0.5;
    transition: opacity 0.3s;  
}
.pic5-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    margin-left: 10%;
    margin-top: 80%;
}
.hide ,.hide2{
       display: none;
    
    
}
.pic6-style{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,71,255, 0.8);
    opacity: 0.5;
    transition: opacity 0.3s;  
}
.pic6-text-style{
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    margin-left: 10%;
    margin-top: 65%;
}
.training-contain img{
    width: 100%;
    height: 100%;
}
.row-1 ,.row-2{
    display: grid;
    grid-template-columns: .50fr .90fr .60fr;
}
.row-2{
    grid-template-columns: .9fr .5fr .6fr;
}
/* bmi-section */
.bmi-text-contain{
    margin-top: 50px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    margin-left:30%;
}

.bmi-color{
    margin-top: 50px;
    background: rgb(34, 34, 34);
}
.bmi-design{
    max-width:1060px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;

}
.tables{
    width: 49%;
    /* border: 1px solid red; */   
}
.bmi-text{
    font-size: 1.7rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid rgba(255, 255, 255,0.1);
    padding: 8px;
    text-align: left;
}
.input-field{
    width: 49%;
    /* border: 1px solid green; */
}
.input-area{
    width: 100%;
}
.input-box input ,select{
    width: 100%;
    height: 37px;
    margin-top: 10px;
   border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;

    
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.Calculator-btn{
  font-size: 1.2rem;
  font-weight: 400;
  width: 40%;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  padding: 10px 50px;
  margin-top: 30px;
}
/* meet our team section */

.team-text{
    margin-top: 50px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.team-main{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
    margin-top: 50px;
    padding:10px 30px;   
}
.team{
    width: 32%;
    /* border: 1px solid green; */
    position: relative;
    /* padding: 20px; */
}
.team-card-text{
    position: absolute;
    margin-top: -60px;
    margin-left: 30px;
}
.team img{
    width: 100%;
    height: 90%;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 15px; 
}
/* unique-section */
.unique-container{
    margin-top: 50px;
}
.unique-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center ;
}
.unique-box2{
    /* margin-top: 40px; */
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding:40px 50px;

}
.imgs{
    width: 30%;
     

}
.imgs img{
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}
/* footer section */
.footer-color{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    
}
.footer-main{
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px;
}
.footer-container{
    /* border: 1px solid green; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.footer-last-step{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255,0.5);
}
.fitness-style{
    font-size: 4.2rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.footer-bold{
    font-size: 2rem;
    font-weight: 700;
    color:rgb(255, 255, 255) ;
}
.footer-semi-bold{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(255, 255, 255,0.5);
}


/* small-device-style*/
@media screen and (max-width:576px) {
    .btn-primary{
        display: none;
    }
    .nav-humburger-menu{
        display:block;
        color: white;
    }
    .nav-main{
        flex-direction: row;
    }
    .banner-main{
        flex-direction: column;
        padding: 50px;
        
    }
    .banner-text ,.banner-pic,.run-pic,.run-text,.run-btn ,.team , .tables{
        width: 100%;
    }
    .banner-text h1{
        font-size: 2.2rem;
    }
.child-div{
    padding: 12px 15px;
    top: 43%;
    right: 40%;
}
.child-div-two{
    padding: 10px 10px;
    top: 10%;
    right:-5%;
}
.play-btn{
    font-size: 1.3rem;
    left: 6%;
    top: 49%;
}
.btn-all{
    padding: 10px 10px;
}
.btn-span {
    padding: 10px 10px;  
}
.card-design{
    grid-template-columns: repeat(1,1fr);
   gap: 20px;
    
}
.card-text ,.team-text{
    padding:0px 20px;
    margin-top: 0px;
}
.all-bold{
    font-size: 2rem;
}
.run-main,.team-main{
    flex-direction: column;
   margin:20px;
}
.run-btn{
    margin: 20px 0px;
    padding: 20px;
}


.none , #none{
    display: none;
}
.unique-box2{
    flex-direction: column;
}
.footer-container{
    flex-direction: column; 
}
.imgs {
    width: 100%;
}
.unique-box1{
    padding: 20px;text-align: left;
}
.footer-main{
    padding:50px 0px;
}
.footer-bold,.footer-semi-bold{
    margin-right: 130px;
    margin-top: 20px;
}
.bmi-design{
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}
.Calculator-btn{
    padding: 15px 80px;
    width: 70%;
}
.bmi-text-contain{
    margin-left: 5%;
    padding: 0px 10px;
}
.row-1,.row-2{
    grid-template-columns: .5fr .5fr;
}
.row-2{
    grid-template-columns: .45fr .55fr;
}
#divs-3,#divs-4 ,.pic5-text-style,.pic6-text-style{
    display: none;
}

.hide{
    display: inline;
     position: absolute;
     font-size: 1rem;
     font-weight: 500;
     color: rgb(255,255,255);
     margin-left: 10%;
     margin-top: 60%;
 
}
.hide2{
    
        display: inline;
         position: absolute;
         font-size: 1rem;
         font-weight: 500;
         color: rgb(255,255,255);
         margin-left: 10%;
         margin-top: 50%;
     
 
}
.pic1-text-style{
    margin-top: 50%;
}
.training-contain,.training-text-contain{
    margin: 20px;
}
}